body{
    background:#848FA5;
    color:#2D2D2A;
}
#main{
    background: #E5DCC5;
    box-shadow: 0vw 0vh 1vw #4C4C47;
    width:70vw;
    padding:3vw;
    margin:auto;
    text-align:center;
}
.sdivider{
    background: #C14953;
    height:0.2em;
    width:4em;
    padding-bottom:10em;
    margin:auto;
}
.divider{
    background: #C14953;
    height:0.2em;
    width:6em;
    padding-bottom:10em;
    margin:auto;
}